button {
    border: .5px solid #ccc;
    border-radius: 3px;
    box-shadow: 5px 5px 10px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
}


.container {
    text-align: center;
    color: rgb(109, 106, 106);
}
.title {
    color: rgb(109, 106, 106);
}
.cropped-image {
    width: 128px;
    height: 128px;
    display: none;
}
.to-localstorage {
    width: 220px;
    height: 80px;
}