<div>
    <h2 class="title">Here you can crop your image</h2>
</div>
<div class="container">
    <div>

        <img class="example" src="../assets/img/main-img.gif" width="250px" />
        <div>
            <input type="file" (change)="fileChangeEvent($event)" />
        </div>
        <button id="to-localstorage-button" class="to-localstorage-button" (click)="imageToLocalstorage()">Image to
            localstorage</button>
    </div>
    <div>

    </div>
    <div>
        <image-cropper class="crop-image" [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true"
            [aspectRatio]="1 / 1" format="png" (imageCropped)="imageCropped($event)"></image-cropper>
        <div>
            <img [src]="croppedImage" class="cropped-image" />
        </div>
    </div>
</div>